/* Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: red;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  float: left;
  line-height: 0px;
  margin-right: 0%;
  font-size: 18px;
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .navbar li {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
